body {
  max-width: 1600px;
  height: 4500px;
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
}
.header-container {
  width: 1248px;
  height: 754px;
  margin: 50px 112px 99px 240px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: url(../Img/header-back.png) bottom right no-repeat;
  box-sizing: border-box;
  box-sizing: content-box;
}
.main-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.logo-header {
  max-width: 49px;
  max-height: 35px;
  padding: 12px 121px 0px 0px;
}
.header-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 17px;
  margin-right: 40px;
  box-sizing: border-box;
}
.link-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: 40px;
  color: #4b5d68;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #4B5D68
}
.link-menu:hover{
  font-weight: 800;
  color: #212353;
  ;
}
.header-menu-button {
  max-width: 210px;
  max-height: 60px;
  border-radius: 50px;
  background-color: #ffffff;
  padding: 17px 20px 17px 29px;
  margin-left: 369px;
  margin-right: 128px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px 0px #4b5d681a;
  color: #212353;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  font-family: "Nunito";
}
.img-header-button {
  width: 20px;
  height: 14px;
  padding-left: 20px;
}


.header-title {
  display: flex;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  color: #212353;
  max-width: 646px;
  max-height: 184px;
  margin: 147px 603px 50px 0px;
}
.header-text {
  height: 120px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
  padding: 0px 920px 50px 0px;
}
.header-button {
  max-width: 170px;
  max-height: 60px;
  background: #9c69e2;
  border-radius: 50px;
  color: #ffffff;
  padding: 16px 37px;
  box-sizing: border-box;
  border: none;
  font-style: normal;
  font-weight: 600px;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px 1078px 100px 0px;
}

/* ****************************************** */

.information-container {
  width: 1117px;
  height: 560px;
  background-color: #f063b826;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  margin: 0px 240px 150px 240px;
}
.information-img {
  max-width: 477px;
  max-height: 504px;
  padding: 32px 74px 24px 11px;
}

.information-container-right {
  margin-top: 125px;
  margin-right: 500px;
}
.information-title {
  width: 475px;
  height: 100px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #212353;
  padding: 0px 92px 40px 0px;
}
.information-text {
  width: 474px;
  height: 170px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  color: #4b5d68;
  text-align: start;
  margin-right: 93px;
  margin-bottom: 125px;
}

/* ****************************************** */

.main {
  max-width: 1136px;
  max-height: 1002px;
  margin: 0px 243px 174px 220px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.main-title {
  max-width: 405px;
  max-height: 52px;
  padding: 0px 356px 50px 500px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700px;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #212353;
}
.main-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  width: 584px;
  height: 58px;
  padding: 0px 265px 100px 287px;
  flex-wrap: wrap;
  color: #4b5d68;
  display: flex;
  align-items: center;
  text-align: center;
}
.banner-first-pair {
  display: flex;
}
.banner-1 {
  display: flex;
  justify-content: space-between;
  margin-right: 93px;
}
.banner-img-1 {
  max-width: 232px;
  max-height: 211px;
  margin: 0px 30px 173px 19px;
}
.title-1-1 {
  max-width: 200px;
  max-height: 50px;
  margin-bottom: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #212353;
}

.text-1-banner {
  width: 220px;
  height: 160px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 26px;
  color: #4b5d68;
}

.a-banner-1 {
  max-width: 87px;
  max-height: 26px;
  letter-spacing: 0.005em;
  color: #212353;
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  margin: 20px 20px 132px 0px;
}

.arrows-1-1 {
  max-width: 20px;
  max-height: 14px;
}
/* ---------*/
.banner-2 {
  display: flex;
  justify-content: space-between;
  margin-right: 49.5px;
}

.banner-img-2 {
  width: 241px;
  height: 185px;
  margin-right: 33.2px;
}

.title-1-2 {
  width: 200px;
  max-height: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400px;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #212353;
  margin: 0px 69.5px 20px 0px;
}

.text-2-banner {
  max-width: 220px;
  max-height: 160px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 26px;
  color: #4b5d68;
  margin-bottom: 20px;
}
.a-banner-2 {
  max-width: 87px;
  max-height: 26px;
  letter-spacing: 0.005em;
  color: #212353;
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  margin: 20px 20px 132px 0px;
}
.arrows-1-2 {
  max-width: 20px;
  max-height: 14px;
}

/* ------- */
.banner-second-pair {
  display: flex;
}

.banner-3 {
  display: flex;
  justify-content: space-between;
}
.banner-img-3 {
  max-width: 245px;
  max-height: 181px;
  margin-top: 50px;
  margin-right: 35px;
}
.title-1-3 {
  width: 200px;
  max-height: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400px;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #212353;
  margin: 0px 97px 20px 0px;
}
.text-3-banner {
  width: 220px;
  height: 160px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 26px;
  color: #4b5d68;
  margin-bottom: 15px;
}

.a-banner-3 {
  max-width: 87px;
  max-height: 26px;
  letter-spacing: 0.005em;
  color: #212353;
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
}
.arrows-1-3 {
  max-width: 20px;
  max-height: 14px;
  margin-left: 20px;
}

/* ------- */
.banner-4 {
  display: flex;
  justify-content: space-between;
}

.banner-img-4 {
  max-width: 230px;
  max-height: 201px;
  margin-right: 39px;
  margin-bottom: 47px;
}
.title-1-4 {
  width: 200px;
  max-height: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400px;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #212353;
  margin: 0px 97px 20px 0px;
}
.text-4-banner {
  max-width: 220px;
  max-height: 160px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 26px;
  color: #4b5d68;
  margin-bottom: 20px;
}

.a-banner-4 {
  max-width: 87px;
  max-height: 26px;
  letter-spacing: 0.005em;
  color: #212353;
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}
.arrows-1-4 {
  max-width: 20px;
  max-height: 14px;
  margin-left: 20px;
}

/* *******************************************/

.feedback {
  max-width: 1118px;
  height: 709px;
  background: #9c69e2;
  border-radius: 50px;
  margin-top: 174px;
  box-sizing: border-box;
  margin: 0px 240px 150px 242px;
}
.testimonials {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 109px 620px 88px 93px;
}
.main-feedback {
  max-width: 949px;
  height: 330px;
  background: #ffffff;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
  margin: 0px 76px 130px 93px;
  display: flex;
  justify-content: space-between;
}
.photo-feedback {
  margin: 60px 44px 180px 102px;
  max-width: 132.42px;
  max-height: 90px;
}
.name {
  width: 250.12px;
  height: 29px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 26px;
  color: #212353;
  padding: 80px 419px 0px 0px;
}
.site {
  width: 148.6px;
  height: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #9c69e2;
  padding: 0px 520px 19px 0px 0px;
  text-decoration: none;
}
.text-feedback {
  width: 560px;
  max-height: 130px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #4b5d68;
  height: 130px;
  padding: 0px 102px 50px 0px;
}
.list-point {
  position: absolute;
  margin-top: 378px;
  margin-left: 93px;
}
.point {
  max-width: 5px;
  max-height: 5px;
  margin-right: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #0000;
  
}
.point:hover {
   transform: scale(2);
}
.arrows {
  width: 100px;
  position: absolute;
  margin-top: 378px;
  margin-left: 890px;
}
.arrow-1 {
  padding-right: 20px;
}

/* *******************************************/

.footer {
  max-width: 1600px;
  max-height: 761px;
  margin-top: 0px;
  max-width: 1600px;
  height: 761px;
  margin-bottom: 91px;

}
.footer-line{
  max-width: 100%;
  height: auto;
  border-top: 1px solid #9b69e254;
}
.main-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 243px 91px 240px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-title {
  width: 405px;
  max-height: 52px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700px;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #212353;
  margin-bottom: 20px;
}
.footer-subtitle {
  display: flex;
  width: 584px;
  height: 29px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4b5d68;
  margin-bottom: 150px;
}
.footer-buttons {
  margin-top: 15px;
}
.lear {
  max-width: 170px;
  max-height: 55px;
  background: #f063b8;
  border-radius: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  color: #ffffff;
  border: none;
  box-sizing: border-box;
  padding: 15px 37px;
  margin-right: 30px;
}
.request {
  max-width: 210px;
  max-height: 60px;
  border: none;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  padding: 17px 29px 17px 29px;
  box-sizing: border-box;
  background-color: #FFFFFF;;
}
.arrow-button{
  padding-left:10px;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.section-1 {
  display: flex;
  flex-direction: column;
}
.main-section-1 {
  display: flex;
}
.logo-footer {
  max-width: 49px;
  max-height: 35px;
}
.title-data {
  width: 153px;
  height: 30px;
  font-style: Inter;
  font-weight: 900;
  font-size: 20px;
  line-height: 32px;
  color: #212353;
  margin-top: 2px;
  margin-left: 20px;
}
.adress {
  max-width: 335px;
  max-height: 65px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #212353;
  margin-right: 140px;
  margin-top: 67px;
  margin-bottom: 10px;
}
.info {
  max-width: 335px;
  max-height: 60px;
  margin-bottom: 119px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #212353;
}
.company {
  max-width: 360px;
  max-height: 50px;
  left: 240px;
  top: 4354px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #212353;
}

.about-title {
  max-width: 51.75px;
  max-height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #212353;
  margin-top: 10px;
  margin-bottom: 40px;
}

.about-li {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 250%;
  color: #212353;
}

.section-3 {
  margin-left: 50px;
  margin-right: 100px;
}
.help-title {
  max-width: 51.75px;
  max-height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #212353;
  margin-top: 9px;
  margin-bottom: 40px;
}
.help-menu {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 250%;
  color: #212353;
}

.social {
  max-width: 170px;
  max-height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #212353;
  margin-top: 9px;
  margin-bottom: 40px;
}
.sm {
  display: flex;
}
.sm-photo {
  margin-right: 14px;
}
.chat {
  margin-left: -100px;
  margin-top: 300px;
  max-width: 60px;
  max-height: 60px;
}
.chat:hover{
  -webkit-transform: rotateZ(20deg);
  -ms-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
}
